

<div class="col-xl-6">
<div class="card card-block">
  <h4 class="card-title">Total Exposure</h4>
  <p class="card-text">100,000,000</p>
</div>
</div>

<div class="col-xl-6">
<div class="card card-block">
  <h4 class="card-title">Total Exposure After Eligible Mitigants</h4>
  <p class="card-text">$666,666,666</p>
</div>
</div>

<div class="col-xl-6">
<div class="card card-block">
  <h4 class="card-title"># of Collaterals</h4>
  <p class="card-text"># of Eligible<br/> # of ineligible</p>
</div>
</div>


<div class="col-xl-6">
<div class="card card-block">
  <h4 class="card-title">$ of Collaterals</h4>
  <p class="card-text"># of Eligible<br/> # of ineligible</p>
</div>
</div>

<div class="col-xl-6">
<div class="card card-block">
  <h4 class="card-title">Collaterals Concentrations</h4>
  <table>
  	<tr>
  	<td colspan="2">
  	Cash
  	</td>
  	<td>
  	XX %
  	</td>
  	</tr>
  
  </table>
</div>
</div>

<div class="col-xl-6">
<div class="card card-block">
  <h4 class="card-title">Collaterals Tier</h4>
  <table>
  	<tr>
  	<td colspan="2">
  	Tier A
  	</td>
  	<td>
  	XX %
  	</td>
  	</tr>
  
  </table>
</div>
</div>
